<div class="col-md-12">
    <form novalidate class="form-inline">
        <label for="session_title">Session title</label>
        <input id="session_title" type="text" ng-model="session_title" class="form-control">

        <button class="btn btn-default form-control" ng-click="new_session(session_title)">
            Create new session
        </button>
    </form>

    <table class="table table-stripped table-hover">
        <tr ng-repeat="session in sessions_list | orderBy: '-date_created' | filter:session_title">
            <td> {{session.title}} </td>

            <td style="font-family: monospace">
                <a href="#/session/{{session.uuid}}/">{{session.uuid}}</a>
            </td>

            <td> {{ session.date_created | date : 'medium'}} </td>
        </tr>
    </table>
</div>
